data/
# Ignoramos el ambiente
ambiente/

# Ignoramos los archivos que contienen las etiquetas y el arreglo de imagenes
X.pickle
Y.pickle

#Carpeta de Ket de imágenes
datos/
#Archivo de prueba para la red.
prueba.py 
#Modelo
model.h5