#ket
# Ignoramos el ambiente
ambiente/
#Archivo que creal vs
.vscode
#Carpeta de pruebas
pruebas/
# Ignoramos los archivos que contienen las etiquetas y el arreglo de imagenes
X_Jirafa.pickle
Y_Jirafa.pickle
#Carpeta de imágenes
datos/
#archivo generado por python
Clasificadores/__pycache__
