.env/
.ambiente/
.vscode/
data/
__pycache__/
.ipynb_checkpoints/
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
X.pickle
Y.pickle
modelos/X.pickle
src/Avestruz/Imagenes y Etiquetas/
src/Avestruz/Untitled1.ipynb
src/Avestruz/Untitled2.ipynb
clasificador/__pycache__/


